
.a-global--container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.a-header--container {
    background-color: black;
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.207);
}
#desk-developers-logo {
    cursor: pointer;
    width: 200px;
}
.a-navbar-item {
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
    transition: all .5s ease;
  }
.a-navbar-item:hover {
    transition: all .5s ease;
    opacity: 0.5;
}

.a-main--container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-main-inner--container {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-h1 {
    color: #ffffff;
    font-size: 46px;
    text-align: center;
}
.main-p {
    color: #ffffffc2;
    text-align: center;
}

.a-main-button--container {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-button {
    margin: 6px;
    cursor: pointer;
    width: 160px;
    height: 42px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 1px;
}
.learn-more-button {
    background: linear-gradient(45deg, #009CFF, #0056FF);
}
.join-now-button {
    background-color: #000000;
    border-bottom: 1px solid #0056FF;
}

.a-footer-social-links--container {
    width: 100%;
    height: 100%;
}
.a-footer-social-links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.social-link {
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: 12px;
}
.social-icon {
    color: #ffffff;
    width: 20px;
}
.social-p {
    margin-left: 6px;
    color: #ffffff;
    font-size: 12px;
}