
.contactus-form--container {
    background-color: firebrick;
    width: 40px;
    height: 100px;
}

.desk-main--container {
    width: 100%;
    height: 100vh;
}

.a-main-inner--container {
    height: "100%";
    width: 100%;
}

.main-h1 {
    font-weight: bolder;
    font-size: 60px;
}
.main-h3 {
    margin-top: 20px;
    font-weight: lighter;
    color: #ffffff;
    font-size: 26px;
}