
::-webkit-scrollbar {
    width: 0;
}

.algosearch-search--page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.algosearch-search--page-header--container {
    width: 100%;
    height: 140px;
}
.algosearch-search--page-header {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.algosearch-search--page-logo--container {
    width: 100px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.algosearch-search--page-logo {
    width: 80px;
}
.algosearch-search--page-search-bar--container {
    padding-left: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-radius: 20px;
    /* box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.025); */
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.05);
}
.algosearch-search--page-search-bar-input {
    padding: 10px;
    padding-left: 4px;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.algosearch-search--page-sidebar--container{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.algosearch-search--page-categories--container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
.algosearch-search--page-categories {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.algosearch-search--page-center-col {
    width: 86%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media only screen and (max-width: 1000px)  {
    .algosearch-search--page-header--container  {
        height: 160px;
    }
    .algosearch-search--page-header {
        flex-direction: column;
        justify-content: space-around;
    }
    .algosearch-search--page-sidebar--container {
        display: none;
    }
    .algosearch-search--page-search-bar--container {
        width: 100%;
        height: 50%;
    }
    .algosearch-search--page-categories--container {
        max-width: 100%;
    }
    .algosearch-search--page-categories {
        padding-left: 5%;
        width: 100%;
    }
    .search-bar-form--container {
        height: 50%;
        padding: 0;
    }
    .algosearch-search--page-center-col {
        width: 96%;
    }
}